/* 
pagination
*/

.pagination > li > a
{
    background-color: white;
    color: #198754;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #198754;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #198754 !Important;
    border: solid 1px #198754 !Important;
}

.pagination > .active > a:hover
{
    background-color: #198754 !Important;
    border: solid 1px #198754;
}

/* 
button colour
*/

/* .btn {
    outline-color: #fff;
  }

.btn:active {
    outline-color: #fff;
  } */